<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header>
		<h1>Оставить новую запись</h1>
		<a href="{{ url_for('index') }}">Вернуться на главную</a>		
	</header>
	<section>		
		<form method='post' action="/process">
			<input class="form_item" type="text" name='name' placeholder="Ваше имя:">
			<textarea class="form_item" name="comment" placeholder="Оставьте ваш комментарий:"></textarea>
			<button class="form_item" type='submit'>Sign</button>	
		</form>
	</section>
</body>
</html>